@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@theme {
  --blue-light: 241, 238, 254; /* #f1eefe rgb(241, 238, 254) /
  --blue-light-hover: 234, 230, 253; /* #eae6fd rgb(234, 230, 253) /
  --blue-light-active: 211, 204, 251; /* #d3ccfb rgb(211, 204, 251) /
  --blue-normal: 112, 89, 243; /* #7059f3 rgb(112, 89, 243) /
  --blue-normal-hover: 101, 80, 219; /* #6550db rgb(101, 80, 219) /
  --blue-normal-active: 90, 71, 194; /* #5a47c2 rgb(90, 71, 194) /
  --blue-dark: 84, 67, 182; /* #5443b6 rgb(84, 67, 182) /
  --blue-dark-hover: 67, 53, 146; /* #433592 rgb(67, 53, 146) /
  --blue-dark-active: 50, 40, 109; /* #32286d rgb(50, 40, 109) /
  --blue-darker: 39, 31, 85; /* #271f55 rgb(39, 31, 85) /

  --white-light: 253, 253, 253; /* #fdfdfd rgb(253, 253, 253) /
  --white-light-hover: 251, 251, 251; /* #fbfbfb rgb(251, 251, 251) /
  --white-light-active: 247, 247, 247; /* #f7f7f7 rgb(247, 247, 247) /
  --white-normal: 230, 230, 230; /* #e6e6e6 rgb(230, 230, 230) /
  --white-normal-hover: 207, 207, 207; /* #cfcfcf rgb(207, 207, 207) /
  --white-normal-active: 184, 184, 184; /* #b8b8b8 rgb(184, 184, 184) /
  --white-dark: 173, 173, 173; /* #adadad rgb(173, 173, 173) /
  --white-dark-hover: 138, 138, 138; /* #8a8a8a rgb(138, 138, 138) /
  --white-dark-active: 103, 103, 103; /* #676767 rgb(103, 103, 103) /
  --white-darker: 81, 81, 81; /* #515151 rgb(81, 81, 81) /

  --black-light: 230, 230, 230; /* #e6e6e6 rgb(230, 230, 230) /
  --black-light-hover: 217, 217, 217; /* #d9d9d9 rgb(217, 217, 217) /
  --black-light-active: 176, 176, 176; /* #b0b0b0 rgb(176, 176, 176) /
  --black-normal: 0, 0, 0; /* #000000 rgb(0, 0, 0) /
  --black-normal-hover: 0, 0, 0; /* #000000 rgb(0, 0, 0) /
  --black-normal-active: 0, 0, 0; /* #000000 rgb(0, 0, 0) /
  --black-dark: 0, 0, 0; /* #000000 rgb(0, 0, 0) /
  --black-dark-hover: 0, 0, 0; /* #000000 rgb(0, 0, 0) /
  --black-dark-active: 0, 0, 0; /* #000000 rgb(0, 0, 0) /
  --black-darker: 0, 0, 0; /* #000000 rgb(0, 0, 0) /
} */
